
.vagrant
*.pub
LINUX.X64_*.zip

context
# ignore for ansible-navigator
playbooks/collections/ansible_collections
example/*/ansible/playbooks/collections/ansible_collections
example/*/ansible/navigator/replay/*json
example/*/ansible/context
ansible-navigator.log
navigator/replay/*json

# hugo website generator
website/public
website/node_modules/
website/package-lock.json
website/package.json
website/.hugo_build.lock
website/resources/_gen
website/.cache
